.wrapper {
  border: solid 3px black;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.101);
  font-family: "Ubuntu Mono", monospace;
  margin: 30px auto;
  max-width: 650px;
}

h1,
h2,
h3 {
  font-family: "Encode Sans Expanded", sans-serif;
}

h1 {
  font-size: 150px;
  line-height: 130px;
  margin: 10px 0;
}

h2 {
  font-size: 15px;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
}

i {
  transition: all 150ms ease-in;
}

a {
  color: #15615d;
  font-weight: 900;
  text-decoration: none;
}

button {
  background-color: #5ec2f0;
  border: none;
  border-radius: 20px;
  display: inline;
  font-size: 11px;
  letter-spacing: 1px;
  margin-top: 10px;
  padding: 10px 15px;

}

#search-form {
  display: inline;
}

#search-field {
  width: 50%;
}

.search-bar-col {
  margin-bottom: 30px;
}

.next-day-row i:hover {
  color: #5ec2f0;
}

.next-days-section {
  padding: 0 50px 40px 50px;
}

.container {
  max-width: none;
}


.today-section {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius: 20px 20px 100px 100px;
  margin: 0 auto 50px auto;
  max-width: 650px;
  padding: 50px 50px 40px 50px;

}

.next-weather {
  text-align: right;
  color: #5ec2f0;
}

.next-day-row,
.next-weather {
  padding-top: 10px;
}

.sun-icon {
  color: #5ec2f0;
  display: block;
  font-size: 70px;
  text-align: right;
}

.further-details {
  margin-top: 30px;
}

.further-details-item {
  margin-right: 25px;
}
