@media only screen and (max-width: 460px) {

  h1 {
    font-size: 100px;
    line-height: 80px;
    margin: 10px 0;
  }

  .wrapper {
    border-radius: 20px;
    font-family: "Ubuntu Mono", monospace;
  }

  .today-section-day {
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    border-radius: 0 0 100px 100px;
    margin: 0 auto 50px auto;
    padding: 50px 30px 40px 30px;
  
  }

  .today-section-night {
    background: linear-gradient(to top, #ace0f9 0%, #d3cae6 100%);
    border-radius: 0 0 100px 100px;
    margin: 0 auto 50px auto;
    padding: 50px 30px 40px 30px;
  
  }

  .next-days-section {
    padding: 0 30px 40px 30px;
  }
}

@media only screen and (min-width: 460px) {

  h1 {
    font-size: 150px;
    line-height: 130px;
    margin: 10px 0;
  }

  .wrapper {
    border: solid 3px black;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.101);
    font-family: "Ubuntu Mono", monospace;
    margin: 30px auto 15px auto;
    max-width: 650px;
  }

  .today-section-day {
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    border-radius: 18px 18px 100px 100px;
    margin: 0 auto 50px auto;
    max-width: 650px;
    padding: 50px 50px 40px 50px;
  
  }

  .today-section-night {
    background: linear-gradient(to top, #ace0f9 0%, #d3cae6 100%);
    border-radius: 18px 18px 100px 100px;
    margin: 0 auto 50px auto;
    max-width: 650px;
    padding: 50px 50px 40px 50px;
  
  }

  .next-days-section {
    padding: 0 60px 40px 60px;
  }

}

h1,
h2,
h3 {
  font-family: "Encode Sans Expanded", sans-serif;
}


h2 {
  font-size: 15px;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
}

i {
  transition: all 150ms ease-in;
}

a {
  color: #34a2d5;
  font-weight: 900;
  text-decoration: none;
}

button {
  background-color: #5ec2f0;
  border: none;
  border-radius: 20px;
  display: inline;
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 10px 15px;
  text-transform: uppercase;

}

#search-field {
  width: 50%;
}

.btn-outline-secondary {
  color: #5ec2f0;
  border-color: #34a2d5;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #5ec2f0;
  border-color: #34a2d5;
}
.search-bar-col {
  margin-bottom: 30px;
}

.next-day-row i:hover {
  color: #5ec2f0;
}

.container {
  max-width: none;
}

.next-weather {
  text-align: right;
  color: #5ec2f0;
}

.next-day-row,
.next-weather {
  padding-top: 10px;
}

.sun-icon {
  color: #5ec2f0;
  display: block;
  font-size: 70px;
  text-align: right;
}

.further-details {
  margin-top: 30px;
}

.further-details-item {
  margin-right: 25px;
}

#weather-description {
  letter-spacing: 2px;
  font-weight: 600;
}

.footer-text {
  font-family: "Ubuntu Mono", monospace;
  font-size: 12px;
  text-align: center;
  margin: 0 auto 20px auto;
}